.login-setting {
  position: absolute;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
}
.login-s {
  position: relative;
  background-color: #000;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.login-s-bar {
  padding: 132px 40px 75px;
}
.login-bar {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: url("../../assets/background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-language {
  position: absolute;
  top: 14px;
  left: 15px;
}
.language-link {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #767676;
  padding: 7px 11px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #838383;
}
.language-span {
  color: #fff;
  font-size: 12px;
  display: block;
  font-weight: 700;
}
.login-logo {
  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  height: 172px;
}
.logo-s {
  height: 100%;
  width: 100%;
  max-height: 175px;
  padding-bottom: 20px;
}
.logo {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login-form {
  width: 280px;
  margin: 0 auto;
  max-width: 100%;
}
.form {
  box-sizing: inherit;
  outline: none;
}
.login-form-field {
  padding-top: 20px;
  position: relative;
  margin-bottom: 25px;
}
.form-lable {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 12px;
  color: #838383;
  width: 100%;
  margin-bottom: 3px;
}
.form-control {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  background: hsla(0, 0%, 100%, 0.12);
  border-radius: 10px;
  color: #838383;
  width: 100%;
  padding: 7px 10px;
}
.country-code {
  position: absolute;
  top: 23px;
  left: 5px;
  width: 65px;
}
.c-dropdown {
  position: relative;
  max-width: 100%;
}
.dropdown-placeholder {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #767676;
  line-height: 1;
  padding: 6px 20px 5px 7px;
  text-align: center;
  color: #dcdcdc;
}
.dropdown-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #000;
  text-indent: 0.01px;
}
.pgone-code {
  padding-left: 77px;
}
