body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1c;
  /* position: relative; */
  width: 100%;
  height: 100%;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media only screen and (min-width: 992px) {
  :root {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1a1c;
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 600px;
    height: 100%;
    color: #fff;
  }
}
/* @media only screen and (min-width: 992px) {
  :root {
    width: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
} */
